<p id="notice"><%= notice %></p>

<h1>Coaching Activities</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Institution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaching_activities.each do |coaching_activity| %>
      <tr>
        <td><%= coaching_activity.start_date %></td>
        <td><%= coaching_activity.finish_date %></td>
        <td><%= coaching_activity.institution %></td>
        <td><%= link_to 'Show', coaching_activity %></td>
        <td><%= link_to 'Edit', edit_coaching_activity_path(coaching_activity) %></td>
        <td><%= link_to 'Destroy', coaching_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coaching Activity', new_coaching_activity_path %>
