<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @coaching_activity.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @coaching_activity.finish_date %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @coaching_activity.institution %>
</p>

<%= link_to 'Edit', edit_coaching_activity_path(@coaching_activity) %> |
<%= link_to 'Back', coaching_activities_path %>
