<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facilitator.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @facilitator.cpf %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @facilitator.institution %>
</p>

<p>
  <strong>Coaching activity:</strong>
  <%= @facilitator.coaching_activity %>
</p>

<%= link_to 'Edit', edit_facilitator_path(@facilitator) %> |
<%= link_to 'Back', facilitators_path %>
