<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facilitator.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @facilitator.cpf %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @facilitator.institution %>
</p>

<p>
  <strong>Coaching activity:</strong>
  <%= @facilitator.coaching_activities %>
</p>

<%= link_to 'Edit', edit_institution_coaching_activity_facilitator_path(@institution, @coaching_activity, @facilitator) %> |
<%= link_to 'Back', institution_coaching_activity_facilitators_path(@institution, @coaching_activity) %>
