<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @book.nome %>
</p>

<p>
  <strong>Versao:</strong>
  <%= @book.versao %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
