<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @email.message %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @email.mark %>
</p>

<p>
  <strong>Resent:</strong>
  <%= @email.resent %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Delete', @email, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', emails_path %>
